@font-face {
  font-family: 'Safiro';
  src: url('https://metabole.studio/fonts/Safiro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Safiro';
  src: url('https://metabole.studio/fonts/Safiro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Safiro';
  src: url('https://metabole.studio/fonts/Safiro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}