.animation-float {
  animation: floating 6s ease-in-out infinite;
  will-change: transform;
}

@keyframes floating {
  0%, 100% {
      transform: translate(0, 0) rotate(0deg);
      animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  33% {
      transform: translate(-7px, -14px) rotate(2deg);
      animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  66% {
      transform: translate(7px, 8px) rotate(-2deg);
      animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
}