@font-face {
  src: url('/fonts/Safiro-Bold.otf') format('opentype');
  font-family: 'Safiro Bold';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-BoldItalic.otf') format('opentype');
  font-family: 'Safiro Bold Italic';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-Medium.otf') format('opentype');
  font-family: 'Safiro Medium';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-MediumItalic.otf') format('opentype');
  font-family: 'Safiro Medium Italic';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-Regular.otf') format('opentype');
  font-family: 'Safiro Regular';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-RegularItalic.otf') format('opentype');
  font-family: 'Safiro Regular Italic';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-SemiBold.otf') format('opentype');
  font-family: 'Safiro SemiBold';
  font-display: swap;
}
@font-face {
  src: url('/fonts/Safiro-SemiBoldItalic.otf') format('opentype');
  font-family: 'Safiro SemiBold Italic';
  font-display: swap;
}
